
.button-slide-next {
    background-image: url('Images/rightArrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 26px;;
    height: 37px;
    margin-left: 15px;
}

.button-slide-prev {
    background-image: url('Images/leftArrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 26px;
    height: 37px;
    margin-right: 15px;
}

.button-ellipse-active
{
    background-image: url('Images/ellipseActive.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.button-ellipse-inactive
{
    background-image: url('Images/ellipseInactive.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-position: center;
    margin-right: 5px;
}

.buttons-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: grey;
    overflow: hidden;
}

.slide-active-anim {
    opacity: 1;
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img, .slide-active-anim img {
    width: auto;
    height: 100%;
}